/* Reseteo básico de márgenes y paddings */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #2f2f2f; /* Fondo oscuro para un estilo más enigmático */
    color: #e0e0e0; /* Texto claro para contraste */
    padding: 0 20px;
}

/* Estilo del encabezado */
.header {
    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}

.titulo {
    font-size: 3em;
    margin-bottom: 10px;
    color: greenyellow;
}

.subtitulo {
    font-size: 1.5em;
    color: #b0b0b0;
}

/* Estilo para las secciones */
section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #444;
}

/* Estilo de los títulos dentro de las secciones */
h1 {
    font-size: 2em;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Estilo del texto de introducción */
.intro-text {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
}

/* Estilo para la sinopsis */
.sinopsis-text {
    font-size: 1.1em;
    text-align: justify;
}

/* Estilo para la lista de personajes */
.Personas-principales ul {
    list-style-type: none;
    padding: 0;
}

.Personas-principales il {
    margin-bottom: 20px;
}

.Nombre {
    font-size: 1.5em;
    color: #f4a261; /* Color naranja para destacar los nombres */
    margin-bottom: 5px;
    text-align: center;
}

.Imagen {
    max-width: 200px;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}

/* Estilo del enlace en la sección de referencias */
a {
    color: #1e90ff; /* Azul brillante para enlaces */
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para la línea horizontal */
hr {
    border: 0;
    border-top: 1px solid #666;
    margin: 20px 0;
}