/*fuentes*/

@import url(http://fonts.googleeapis.com/css?family=Didact+Gothic);

*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/*estilos iniciales*/

body{
    margin: 0px;
    background-color: #bbb;
    color: #444;
}

h1{
    font-size: 1.3em;
    text-align: center;
    color: #464d52;
}

/*parte superior*/

#superior{
    width: 21%;
    padding: 2% 0px;
    background-color: #464d52;
    margin: 2% 0px;
}

#encabezado{
    margin: 2% 0px;
    width: 21%;
    min-width: 650px;
    max-width: 960px;
}


#descripcion{
    width: 37.5%;
    height: auto;
    background-color: #888;
    float: left;
}

#descripcion p{
    margin: 5%;
    color: white;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

#imgDesc img{
    float: left;
}

/*contenido principal de las paginas*/

#contenido{
    width: 80%;
    margin: 0px auto;
    clear: left;
    min-width: 650px;
    max-font-size: 960px;
}

/*pie de la pagina*/

footer{
    text-align: center;
    margin: 0;
    font-size: .9em;
    line-height: 2;
    clear: both;
    background-color: #464d52;
    color: white;
    width: 100%;
}

/*contenido de la pgina index*/

.plan{
    width: 26.7%;
    padding: 2%;
    background-color: white;
    margin: 30px 1.5px;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
    text-align: justify;
}

#contenido div:nth-child(3n+1){
    margin-left: 0px;
}

#contenido div:nth-child(3n){
    margin-right: 0px;
}

.boton{
    background-color: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 1s;
}

/*contenido de la pagina planes*/

.planes{
    width: 900px;
    background: white;
    padding: 10px 30px;
}

.planes h1{
    text-align: left;
    font-size: 1.5em;
}

.planes .precio{
    font-size: 1.1em;
    margin: 20px 0px 5px;
    padding-bottom: 15px;
    border-bottom: solid 2px grey;
    font-weight: bold;
}

/*contenido pagina galeria*/

#galeria .plan p{
    text-align: center;
    font-style: italic;
}

#galeria .plan{
    font-size: 1em;
    margin: 30px 1.4% 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
    padding-bottom: 1px;
}